.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 3000;
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em 1em;
	position: absolute;
	top: -10em;
	
	background-color: #fff;
	
	color: #000;
	text-decoration: none;	
}

.skiplinks a:focus {
	top:0;
}

html {
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#d2f0ff;
}

/* Navigation */

nav ul ul  {
	display: none;	
}

nav ul li:hover > ul {
	display: block;
	position: absolute;
}

nav ul {
	background: #99dcff;
	padding: 0 20px;
	border-radius: 3px;  
	list-style: none;
	position: relative;
	vertical-align: top;
}

nav ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #fff; 
	text-decoration: none;
}

/*End of Navigation*/

.flex-img {
	display: block;
	width: 100%;
}

footer {
	text-align: center;
	background-color: #99dcff;
	
	padding: 0.5em;
}