nav ul ul  {
	display: none;	
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #F90;
	padding: 0 20px;
	border-radius: 3px;  
	list-style: none;
	position: relative;
	display: inline-table;
	overflow:hidden;
}

nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #fff; 
	text-decoration: none;
}

.flex-img {
	display: block;
	width: 100%;
}

.grid {
	overflow: hidden;
}

.unit {
	float: left;
}

.unit-spacer {
	padding: 1em;
}

@media only screen and (max-width: 38em) {
	
	.unit-s-1 {
		float: none;
		width: 100%;
	}
	
}

@media only screen and (min-width: 38em) and (max-width: 60em) {

	.unit-m-1-2 {
		float: none;
		width: 50%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
		
}

@media only screen and (min-width: 60em) and (max-width: 78em) {
	
	.unit-l-2-3 {
		float: right;
	}
}