# User Testing Report

User testing was conducted by Kathryn Hallett on Tuesday 22, October between the times of 3:00pm and 6:00pm with the following participants:

- Tirzah Wood
- Jenny Richardson
- Gracie Walker

## Tasks

1. Read the homepage opening paragraph.
2. Resize to mobile size. 
3. Locate an ocean creature.

---

## Individual Results & Observations

### Tirzah Wood

- Navigation is unclear
- Thought that bucket headers were links
- Not much in homepage opening


### Jenny Richardson

- Same issues as before, navigation is not clear
- Otherwise easy to naviagte

### Kayla Tuor

- easy to navigate besides actual navigation
- need to emphasize links

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Navigation does not stand out, must be more prominent

### Serious, Causes Frustration, May Hinder Completion

- Only one participant was able to find the 'Ocean' link

### Minor, Annoying, Won’t Hinder Completion

- Buckets aren't aligned in center in larger screen size.