<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} - Empty Index</title>
<link href="{{site.baseurl}}/../css/general.css" rel="stylesheet">
 <!--Facebook-->
	<meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}} - Empty Index">
    <meta property="og:url" content="http://khallett.github.io/large-data-website/article.html">
    <meta property="og:image" content="http://australiasdeadliest.com/img/thing.jpg">
    <meta property="og:description" content="Shot description, same as meta discription">
    <meta property="og:site_name" content="Name of website/company">
    <!--Twitter-->
    <meta property="twitter:type" content="summary">
    <meta property="twitter:title" content="{{page.title}} - Empty Index">
    <meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
    <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
    <meta property="twitter:description" content="Shot description, same as meta discription">
</head>

<body>

		<div class="nav">
    	<a href="#" rel="home"><img src="http://placehold.it/150x150"></a>
        	<nav>
            	<ul>
                    <li><a href="">OCEAN</a>
                    	<ul>
                        	<li><a href="#">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                        </ul>
                     </li>
                        
                    <li><a href="">REPTILE</a>
                        	<ul>
                                <li><a href="">Bleh</a><li>
                                <li><a href="">Bleh</a><li>
                                <li><a href="">Bleh</a><li>
                                <li><a href="">Bleh</a><li>
                                <li><a href="">Bleh</a><li>
                            </ul>
                     </li>
                            
                    <li><a href="">MAMMALS</a>
                    	<ul>
                        	<li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                            <li><a href="">Bleh</a><li>
                        </ul>
                    </li>
                </ul>
            </nav>
    </div>
    
    <div class="header-img">
    	<img src="http://placehold.it/1000x400" class="flex-img">
    </div>

{{content}}

	<footer>©Kathryn Hallett</footer>

</body>
</html>