<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Australia's Deadliest Animals – Great White Shark</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Deadly animals in Australia">
<link href="css/normalize.css" rel="stylesheet">
<link href="css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
 	<!--Facebook-->
	<meta property="og:type" content="article">
    <meta property="og:title" content="Title of this page, same as <title>">
    <meta property="og:url" content="http://fullurl.com/to-this/article.html">
    <meta property="og:image" content="http://domain.com/img/thing.jpg">
    <meta property="og:description" content="Shot description, same as meta discription">
    <meta property="og:site_name" content="Name of website/company">
    <!--Twitter-->
    <meta property="twitter:type" content="summary">
    <meta property="twitter:title" content="Title of this page, same as <title>">
    <meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
    <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
    <meta property="twitter:description" content="Shot description, same as meta discription">
    <meta>
<script src="js/modernizr.js"></script>
</head>

<body>
    
    <ul class="skiplinks">
        <li><a href="#main">Skips to primary content</a></li>
        <li><a href="#navigation">Skips to navigation</a></li>
        <li><a href="#footer">Skips to footer</a></li>
    </ul>

<header role="banner">
	<div class="nav" role="navigation">
    	<a href="index.html" rel="home"><img src="images/logo.png" width="150" height="150" class="logo" alt="site logo"></a>
        	<nav role="navigation" id="navigation">
            	<ul>
                    <li><a href="">OCEAN</a>
                    	<ul>
                        	<li><a href="blue-ringed-octopus.html">Blue Ringed Octopus</a><li>
                            <li><a href="great-white-shark.html">Great White Shark</a><li>
                            <li><a href="blue-ringed-octopus.html">Box Jellyfish</a><li>
                            <li><a href="blue-ringed-octopus.html">Reef Stonefish</a><li>
                            <li><a href="great-white-shark.html">Bull Shark</a><li>
                        </ul>
                     </li>
                        
                    <li><a href="">REPTILE</a>
                        	<ul>
                                <li><a href="great-white-shark.html">Brown Snake</a><li>
                                <li><a href="blue-ringed-octopus.html">Death Adder</a><li>
                                <li><a href="blue-ringed-octopus.html">King Brown Snake</a><li>
                            </ul>
                     </li>
                            
                    <li><a href="">BUGS</a>
                    	<ul>
                        	<li><a href="great-white-shark.html">Giant Centipede</a><li>
                            <li><a href="blue-ringed-octopus.html">Bull Ant</a><li>
                            <li><a href="blue-ringed-octopus.html">Paralysis Tick</a><li>
                            <li><a href="great-white-shark.html">Honey Bee</a><li>
                            <li><a href="great-white-shark.html">Black Widow</a><li>
                            <li><a href="blue-ringed-octopus.html">Funnel Web Spider</a><li>
                        </ul>
                    </li>
                </ul>
            </nav>
    </div>
</header>

{{content}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46037499-1', 'khallett.github.io');
  ga('send', 'pageview');

</script>

</body>